<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing | Node Auth</title>
    <style>
      h3{
        text-align:centre;
        position: absolute;
        left:550px;
        font-size: 40px;
        color: blue;
          
      } 
      .nav {
        display: flex;
        justify-content: center;
        height:300px;
        width:500px;
        right: 150px;
        left:400px;
        bottom: 50px;
        top:100px;
        
      
        align-items: center;
        position: absolute;
        
       
      
      }
      .nav li {
        list-style: none;
        margin: 1rem;
      }
      .nav li a {
        color: #000;
        padding: 1.5rem;
        font-size:x-large;
        text-decoration: none;
        background: rgb(80, 362, 256);
      }
    </style>
  </head><body background="/images/lib.jpg"></body>
  
  <body>
<h3 >LIBRARY APP</h3>
    <ul class="nav">
      <li>
        <a href="/login">Login</a>
      </li>
      <li>
        <a href="/register">Register</a>
      </li>
      <li>
        <a href="/adminpage">Admin</a>
      </li>
    </ul>
     
  </body>
</html>